.negociat-connector h6 {
  padding-bottom: 10px;
}
.negociat-connector h6:after {
  content: "";
  display: block;
  border-bottom: 2px solid #ccc;
  width: 100px;
  margin-top: 10px;
}
.negociat-connector .widget {
  box-shadow: 0 7px 14px 0 rgba(65, 69, 88, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
}
.negociat-connector .widget .widget-body {
  max-height: 500px;
  overflow-y: auto;
}

.negociat-icon {
  width: 100px;
  display: inline;
  height: 20px;
  color: white;
  text-decoration: none;
  padding-left: 20px;
}

.negociat-icon:before {
  content: "";
  background: url("https://www.negociat.ro/design/themes/pluto/media/images/icons/favicon.png");
  background-size: cover;
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: -20px;
}
